p,a,h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}
.mobilehide{
	display: block;
}

.mobileshow{
	display: none;
}

.dashboard{
	margin-top: 90px;
}
.left_index{
	margin-right: 50px
}



.left_index img{
	width: 100%;
	height: auto;
}

.imagestyle {
	padding: 15px;
    width: 200px;
    height: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: none; 
}



.dms_nav{
	color: white;
	font-size: 16px;
	padding: 9px;
	float: left;
}

.menu{
	background-color: #ffcb05;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d71635;
}

.left_index h1{
	margin-top: 20px;
	color: white;
	font-weight: 900;
	font-size: 48px;
}

.left_index p{
	margin-top: 70px;
	color: white
}

.truckimage{
	width: 80% !important;
	margin-top: 50px;
}

.form-text{
	font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 3px solid #d71635;
}

.form-group input{
}

.form-group .btn{
	background-color: #d71635;
	color: white;
}
.bell{
	margin-right: 10px
}
.logout{
	margin-right: 30px; float: right;
}
.right-time {
	color: black;
	font-size: 14px;
	padding: 10px;
	font-weight: 600;
	float: right;
	position: relative;
}
.logos{
	float: left;
}
.qrcode{
	 height: 30px; width: auto; margin-left: 5px;" 
}


.iconrightnav{
    width: auto;
    height: 25px;
}

.left {
    position: absolute;
    left: : 0px;
}
.navmobile{
	background: blue !important;
	position: relative;
	left: 0;
	right: 0;
}
.username{
	margin-top: 150px !important;
	float: left;
	position: relative;
}
.password{
	margin-top: 20px !important;
}
.ccx{
	margin-top: 20px;
}

.submit{
	margin-top: 20px;
}

.delete{
	margin-top: 20px;
}
.nav-tabs {
    border-bottom: 0 solid rgba(255, 255, 255, 0);
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 2; 
    border: 0 solid rgba(255, 255, 255, 0); 
    border-radius: 0; 
}

.nav-tabs>li>a:hover{
background-color: #d71635;
color: #ffcb05;
}

.rightbar>li>a:hover{
background-color: rgba(255, 255, 255, 0);
}
.rightbar>li>a:link{
background-color: rgba(255, 255, 255,0);
}




.navbar {
    margin-bottom: 3px;
    border-radius: 0px; 
}

.noborder{
    border-bottom: 0px;
     padding-top: 0px;
    padding-bottom: 0px;
        min-height: 0; 
    border:0px solid transparent;
}
.thead{
	color: #d71635
}

.nav-item a{
	font-weight: 600;
	color:  #d71635;
}
.login{
	width: 100%;
}
.action{
		padding: 1px 6px;
    font-size: 12px;
	}



/*1400 - 1200 =========================================== Start*/
@media only screen and (min-width: 1200px) and (max-width:1450px){
  
}
/*1400 - 1200 =========================================== End*/

/*Selipan Support*/
@media (min-width: 1200px){
	
}


/*1200 - 1000 =========================================== Start*/
@media only screen and (max-width: 1200px) {
	.left_index h1{
		font-size: 36px;
	}
}
/*1200 - 1000 =========================================== End*/

/*1000 - 767 =========================================== Start*/
@media only screen and (max-width: 991px) {
	.navatas{
	display: none;
}
  .phone{display: none;

  }
  .cus{display: none;

  }
  .log{display: none;

  }
  .rightbar>li>a{
  	padding-top: 3px;
  	padding-bottom: 0px;
  }
  .dms_nav{
	color: white;
	font-size: 16px;
	padding: 7px;
}

  .imagestyle{
  	width: 180px;
  }
.dates{
	display: none;
}
	.menu{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.iconrightnav{
		height: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.username {
	    margin-top: 30px !important;
	}
	.left_index{
		margin-right: 0px
	}
	.left_index p{
		margin-top: 70px;
		color: white;
		font-size: 20px;
	}
}
/*1000 - 767 =========================================== End*/

/*767 - 480 =========================================== Start*/
@media only screen and (max-width: 767px) {


  .imagestyle{
  	width: 140px;
  }
  .dms_nav{
  	font-size: 12px;
  	padding: 7px;
  }
  .menu{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.iconrightnav{
		height: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.mobilehide{
		display: none;
	}
	
	.mobileshow{
		display: block;
	}
	.bell{
		float: right;
		margin-right: 30px;
	}

	.left_index h1{
		font-size: 40px;
	}
	.left_index p{
		margin-top: 70px;
		color: white;
		font-size: 18px;
	}
	.dashboard{
		margin-top:60px;
	}
	
}
/*767 - 480 =========================================== End*/

/*Selipan Support*/
@media screen and (max-width:700px) {
	.left_index h1{
		font-size: 36px;
	}
	.left_index p{
		margin-top: 70px;
		color: white;
		font-size: 16px;
	}
   
}


/*Selipan Support*/
@media screen and (max-width:650px) {
	.left_index h1{
		font-size: 32px;
	}
   
}


/*Selipan Support*/
@media screen and (max-width:600px) {
	.left_index p{
		margin-top: 70px;
		color: white;
		font-size: 12px;
	}
	.navbottom>li>a{
	padding: 10px 10px;
	}
	.fontsizetable{
		font-size: 10px;
	}
 
}

/*Selipan Support*/
@media screen and (max-width:550px) {
   
}

/*Selipan Support*/
@media screen and (max-width:500px) {
   .fontsizetable{
   	font-size: 10px;
   }
   .paddingtable{
   	padding: 3px !important;
   }
   .left_index h1{
		font-size: 26px;
	}
	.left_index p{
		margin-top: 50px;
		color: white;
		font-size: 12px;
	}
}




/*480 - 000 =========================================== Start*/
@media only screen and (max-width: 480px) {
	.imagestyle{
  	width: 140px;
  }
  .dms_nav{
  	font-size: 12px;
  	padding: 7px 0px;
  }
  	.nav-tabs>li>a {
	    font-size: 12px;
	}
	.left_index h1{
		font-size: 22px;
	}
	.qrcode{
	 height: 25px; width: auto; margin-left: 5px;" 
}
}
/*480 - 000 =========================================== end*/


/*Selipan Support*/
@media only screen and (max-width: 450px) {
  

/*Selipan Support*/
@media screen and (max-width:400px) {
		.imagestyle{
  	width: 140px;
  }
  .dms_nav{
  	font-size: 12px;
  	padding: 7px 0px;
  }
  .iconrightnav{
		height: 15px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.bell{
		float: right;
		margin-right: 15px;
	}
	.logout{
		margin-right: 10px; float: right;
	}
	.navbottom>li>a{
		padding: 10px 5px;
		font-size: 10px;
	}
	.qrcode{
	 height: 20px; width: auto; margin-left: 5px;" 
	}
	.action{
		padding: 1px 6px;
    font-size: 12px;
	}
		.actiontable{
		width: 70px;
	}
		.fontsizetable{
		font-size: 10px;
	}
   
}

/*Selipan Support*/
@media screen and (max-width:350px) {
  .imagestyle{
  	width: 100px;
  	padding: 17px 5px;
  }
  .dms_nav{
  	font-size: 10px;
  	padding: 8px 3px;
  }
  .menu{
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.iconrightnav{
		height: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.left_index h1{
		font-size: 18px;
	}
	.bell{
		float: right;
		margin-right: 10px;
	}
	.logout{
		margin-right: 10px; float: right;
	}
	.fontsizetable{
		font-size: 9px;
	}
	.actiontable{
		width: 70px;
	}
}
@media screen and (max-width:320px) {
		.fontsizetable{
		font-size: 9px;
	}
	.actiontable{
		width: 70px;
	}
	}

/*Selipan Support*/
@media screen and (max-width:300px) {
   .mobilehide{
	display: none;
	}

	.mobileshow{
		display: block;
	}
		.navbottom>li>a{
		padding: 10px 3px;
		font-size: 10px;
	}
	.qrcode{
	 height: 20px; width: auto; margin-left: 3px;" 
}

}
